document:
  background: '#123'
  baseFont: './fonts/MesloLG-S-DZ-Regular-for-Powerline.otf'
  baseFontSize: 11
  color: '#ABC'
  margin: 35
  size: 'A4'
header:
  labelBackground: 'red'
  labelColor: 'black'
  textColor: 'gray'
title:
  size: 40
  color: '#50FA7B'
section:
  titleSize: 13
  titleColor: '#50FA7B'
  itemSize: 11
  itemColor: 'gray'
  bulletColor: '#50FA7B'
outputFilename: john_doe_resume.pdf
underlineLinks: true
