document:
  background: '#123'
  baseFont: './fonts/MesloLG-S-DZ-Regular-for-Powerline.otf'
  baseFontSize: 11
  color: '#ABC'
  margin: 35
  size: 'A4'
name:
  size: 40
  color: '#50FA7B'
section:
  titleSize: 13
  titleColor: '#50FA7B'
  itemSize: 11
  bulletColor: '#50FA7B'
labelBackground: '#50FA7B'
labelText: 'PASS'
labelColor: '#000'
fakeTestFileText: 'src/unknown/identities/JohnDoe.test.js'
fakeTestFileColor: '#CCC'
outputFilename: john_doe_resume.pdf
underlineLinks: true
