document:
  size: [595.28, 841.89]
  background: '#000'
  color: '#def'
name:
  size: 40
  color: 'green'
section:
  titleSize: 12
  titleColor: 'green'
  itemColor: 'gray'
  itemSize: 11
  bulletColor: 'green'
outputFile: john_doe_resume.pdf
