firstName: John
lastName: Doe
picture: './pictures/profile_picture.png'
header:
  label: 'Resume'
  text: 'src/developers/JohnDoe.resume.min'
sections:
  - title: <About />
    items:
      - born in ~1350
      - is a fictitious name
      - also knows as «John Roe»
  - title: <Personal />
    items:
      - his female name is «Jane»
  - title: <Profiles />
    items:
      - has a [Wikipedia entry](https://en.wikipedia.org/wiki/John_Doe)
  - title: <Other />
    items:
      - there are lot of variants per language and/or regions
stats:
  - key: Sections
    label: "%n sections "
    labelColor: 'green'
    text: were processed
  - key: Items
    label: "%n entries "
    labelColor: 'green'
    text: "listed."
  - key: Links
    label: "Links: "
    text: "%n% links found."
  - key: other
    label: "Printable version available in "
    text: "[dropbox](https://www.dropbox.com)"
    textColor: 'green'
footer:
  label: "REF. / UNKNOW0001"
  text: "Some text at footer"
